body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

#index,
#game {
  font-size: 18px;
  margin: 0 auto;
  position: relative;
  width: 300px; }

#index ul {
  font-size: 24px;
  list-style-type: none;
  margin-bottom: 25px;
  padding: 0; }
  #index ul a li {
    border: 2px solid black;
    border-radius: 6px;
    color: black;
    padding: 10px 10px;
    margin: 10px 0; }
    #index ul a li:hover {
      background-color: #ddd; }
  #index ul a:hover {
    text-decoration: none; }

#game .nav {
  margin-bottom: 25px; }
  #game .nav li {
    text-align: center;
    width: 50%; }
#game ol {
  margin-bottom: 25px; }
  #game ol li {
    margin: 5px 0; }
#game #results {
  list-style-type: none;
  margin-bottom: 25px;
  padding: 0; }
  #game #results li {
    margin: 2px 0; }
    #game #results li strong {
      font-weight: 600; }
    #game #results li .winner-change {
      color: #5cb85c; }
    #game #results li .loser-change {
      color: #d9534f; }
  #game #results .date-separator {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0; }
#game #winner, #game #loser {
  margin-bottom: 25px; }

#add-game #name, #add-player #name {
  margin-bottom: 25px;
  width: 100%; }

.btn {
  font-weight: 600;
  margin-bottom: 15px;
  width: 100%; }

.error {
  color: red;
  margin-bottom: 25px; }

.title {
  border-bottom: 1px solid black;
  margin: 10px 0 25px;
  padding-bottom: 10px;
  text-align: center; }
