body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600; }

#index,
#game {
  font-size: 18px;
  margin: 0 auto;
  width: 300px; }

#game-list {
  font-size: 24px;
  list-style-type: none;
  margin-bottom: 25px;
  padding: 0; }
  #game-list a:hover {
    text-decoration: none; }
  #game-list li {
    border: 2px solid black;
    border-radius: 6px;
    color: #000;
    padding: 10px 10px;
    margin: 10px 0; }
    #game-list li:hover {
      background-color: #ddd; }

#game-nav {
  margin-top: 10px;
  margin-bottom: 25px; }
  #game-nav li {
    text-align: center;
    width: 50%; }

#rankings {
  margin-bottom: 25px; }
  #rankings li {
    margin: 5px 0; }
    #rankings li.empty {
      margin-left: -40px; }

.empty {
  color: #aaa;
  font-style: italic;
  list-style: none; }

#results {
  list-style-type: none;
  margin-bottom: 25px;
  padding: 0; }
  #results li {
    margin: 2px 0; }
  #results .date-separator {
    color: #666;
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0; }
    #results .date-separator:first-child {
      margin-top: 0; }

.winner-change {
  color: #5cb85c; }

.loser-change {
  color: #d9534f; }

#winner, #loser {
  margin-bottom: 25px; }

#name-input {
  margin-bottom: 25px;
  width: 100%; }

.btn {
  font-weight: 600;
  margin-bottom: 15px;
  width: 100%; }

.error {
  color: red;
  margin-bottom: 25px; }

.title {
  border-bottom: 1px solid black;
  margin: 10px 0 25px;
  padding-bottom: 10px;
  text-align: center; }
