////// Global

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

.btn {
    font-weight: 600;
    margin-bottom: 15px;
    width: 100%;
}

.error {
    color: red;
    margin-bottom: 25px;
}

.clear {
    clear: both;
}

////// Layout

#index,
#game,
#player {
    font-size: 18px;
    margin: 0 auto;
    position: relative;
    width: 300px;
}

.title {
    border-bottom: 1px solid black;
    line-height: 33px;
    margin: 10px 0 25px;
    padding-bottom: 10px;
    text-align: center;

    &.long {
        font-size: 24px;
    }
}

.nav-tabs {
    margin-top: 10px;
    margin-bottom: 25px;

    li {
        text-align: center;
        width: 50%;
    }
}

.back-arrow {
    position: absolute;
    left: 2px;

    cursor: pointer;
    padding: 8px 16px 8px 8px;

    &:hover {
        color: #666;
    }
}

////// Index

#game-list {
    font-size: 24px;
    list-style-type: none;
    margin-bottom: 25px;
    padding: 0;

    a:hover {
        text-decoration: none;
    }

    li {
        border: 2px solid black;
        border-radius: 6px;
        color: #000;
        padding: 10px 10px;
        margin: 10px 0;

        &:hover {
            background-color: #ddd;
        }
    }
}

////// Add Player

#name-input {
    margin-bottom: 25px;
    width: 100%;
}


////// Rankings

#rankings {
    margin-bottom: 25px;

    li {
        margin: 5px 0;

        &.empty {
            margin-left: -40px;
        }

        &.inactive {
            color: #aaa;
            list-style-type: none;
        }

        &.self {
            color: #f39c12;
        }
    }
}

.player-link {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.empty {
    color: #aaa;
    font-style: italic;
    list-style: none;
    text-align: center;
    width: 300px;
}

////// Results

#results {
    list-style-type: none;
    margin-bottom: 25px;
    padding: 0;

    li {
        margin: 2px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .date-separator {
        color: #666;
        font-size: 20px;
        font-weight: bold;
        margin: 15px 0;

        &:first-child {
            margin-top: 0;
        }
    }
}

#more-results {
    display: block;
    padding-top: 15px;
}

.winner-change {
    color: #5cb85c;
}

.loser-change {
    color: #d9534f;
}

////// Record Result

.acting-as {
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

#add-win-submit, #add-loss-submit {
    height: 60px;
}

#winner, #loser, #opponent {
    margin-bottom: 25px;
}

////// Player

.player-header {
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}

.player-value {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.player-rating-container {
    float: left;
    width: 40%;
}

.player-wins-container {
    float: left;
    width: 30%;
}

.player-losses-container {
    float: left;
    width: 30%;
}

.player-wins {
    color: green;
}

.player-losses {
    color: red;
}

.player-results {
    margin: 25px 0;
}

#versus {
    margin-bottom: 20px;

    .opponent {
        margin-bottom: 5px;

        .opponent-name {
            float: left;
            font-weight: bold;
            width: 70%;
        }

        .opponent-record {
            float: right;
            width: 30%;
        }
    }
}